﻿@{
    ViewBag.Title = "Architecture";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<article>

  
    <p>
        Making architectural structure of a video portal varies from cases, this app has 3 strategies : razor syntax is not used; it uses ajax calls,
        blobs are not parsed in client  and files does not upload as a single byte  array.
        .Application uses json ajax services to manipulate data. 
        The Azure blob service directly sends and url and it is easy to convert file url to a blob uri at the backend. App does not directly upload the files as a single file,
        instead of single body file uploading it takes minimums of chunk size with math library, and divides it to whole file size and multiples to whole array , this logic  divides the single video
        to multiple upload chunks. And this is best case for big file sizes.
    </p>
    <h2>TroubleShooting</h2>
    <p>
        There are 2 ways of downloading file to client in html 1 is download attribute 2 is xhr stream i prefered taking exactly as byte array
        so according to CORS rule your browser won't let xmlhttprequest , to get everything working. go to root folder of chrome i got this working in MAC
        windows should be
        chrome.exe --user-data-dir="C:/Chrome dev session" --disable-web-security
        or
        For OSX, open Terminal and run:

        $ open -a Google\ Chrome --args --disable-web-security
        For Linux run:

        $ google-chrome --disable-web-security
        you can open a new "unsecure" instance of Chrome at the same time as you keep your other
    </p>

</article>
<aside>
    <h3>REQUIREMENTS  </h3>

    <ul>

        <li>WINDOWS SERVER 2012 + </li>

        <li>IIS 8 </li>

        <li>AZURE ACCOUNT </li>

        <li> Memory Allocation < 25MB Except IIS  </li>

    </ul>


    <h3>SPECS</h3>

    <ul>

        <li> asp.NET MVC 5  </li>

        <li> HTML 5 BOOTSTRAP </li>

        <li> AZURE BLOB STORAGE  </li>

        <li> Ajax &&  Json  </li>

        <li>.net  FW 4 . 5  </li>


    </ul>

</aside>