﻿@model BlobTube.Models.CloudFilesModel
@{
    ViewBag.Title = " Firefox 20+, Chrome 14.0 and Opera 15.0. MVC WEB API BOOTSTRAP (HTML5) + AZURE BLOB STORAGE  SLICED UPLOAD ( PROXY PATTERN )";
}

<h3> Firefox 20+, Chrome 14.0 and Opera 15.0. MVC WEB API BOOTSTRAP (HTML5) + AZURE BLOB STORAGE  SLICED UPLOAD ( PROXY PATTERN )</h3>

 
 

<div class="container kv-main">
    <hr>
    <form enctype="multipart/form-data">
        <hr>
        <hr>
        <div class="form-group">
            <input id="file-5" class="file" type="file" multiple
                   data-preview-file-type="any" data-upload-url="#"
                   data-preview-file-icon="">
        </div>
    </form>
</div>

<label id="statusPercent"></label>

<script>
    $("#file-5").fileinput({
        uploadUrl: '#',
        allowedFileExtensions: ['mp4', '3gp', 'flv'],
        overwriteInitial: false,
        maxFileSize: 15000,
        maxFilesNum: 1,
        allowedFileTypes: ['video'],
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });

    $(document).ready(function () {
        var files = [];
        var jsonItemGG;
        $.ajax({
            type: "get",
            url: "/home/GetBlobsAsJson",
            dataType: 'json',
            contentType: 'application/json',

            success: function (response) {
                varjsonItemGG = response;
                $.each(response, function (index, jsonItem) {
                    files.push({
                        fileName: 'A',
                        URL: jsonItem.URL,
                        URI: jsonItem.URI,
                    });
                });
              
                $('#file-5').fileinput('previewFile',
                    varjsonItemGG
                );
                $('#file-5').fileinput('requestedEncodingJob',
                  files
              );

            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("there is an error");

            }
        });
        $("#test-upload").fileinput({
            'showPreview': false,
            'allowedFileExtensions': ['jpg', 'png', 'gif'],
            'elErrorContainer': '#errorBlock'
        });

    });
</script>

@*@section Scripts{
        <script src="~/Content/JS/StyleLab.js"></script>
    }*@


@*@section Scripts{


        <script src="~/Scripts/chunked-uploader.js"></script>
    }*@