﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        @* @Scripts.Render("~/bundles/jquery")*@
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        @*@Scripts.Render("~/bundles/jqueryui")*@
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
              rel="stylesheet">
        <link href="~/Scripts/Custom/fileinput.css" rel="stylesheet" />
        <script src="~/Scripts/Custom/fileinput.js"></script>
        <script src="~/Scripts/Custom/fileinput.min.js"></script>

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("BLOB TUBE", "Index", "Home")</p>
                </div>
                <div class="float-right">
                  
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Return Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("TroubleShooting", "About", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Day /  @DateTime.Now.Month  /  @DateTime.Now.Year - www.cagatayyapici.com</p>
                </div>
            </div>
        </footer>

  
        @RenderSection("scripts", required: false)
    </body>
</html>
